@use 'base/variables' as *;
h1, h2, h3 {
    margin: 0;
    line-height: 1.2;
}
h1 {
    font-size: 4.4rem;
    font-family: $fontMain;
}
h2 {
    font-size: 4rem;
    font-family: $fontMain;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: $blackColor;
}
p {
    color: $blackColor;
    font-size: 1.6rem;
    line-height: 1.8;
}