@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$fontMain : 'Poppins',
sans-serif;

/*======= MEDIA QUERIES ======*/
$telefono: 348px;
$tablet : 769px;
$tabletMax : 769px;
$desktop : 1024px;
$desktopXL: 1200px;

/*=====COLORS =====*/
$colorMain: #3b4862;
$secondColor:#4e6eaf;
$whiteColor: #ffffff;
$blackColor: #000000;
$grey: #eeefed;
$greyColor: #f8f8f8;